.orange {
  color:orange;
}
/* 자식 선택자 */
ul>.stw{
  color:red;
}
/* 인접 형제 선택자 */
.orange + li {
  color: aquamarine;
}
/* 일반 형제 선택자 */
.orange ~ li {
  color: aquamarine;
}
.box{
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
}
.box:focus{
  width: 300px;
  background-color: royalblue;
}
input{

}
/* focus가 가능한 요소에만 작동 */
input:focus{
  background-color: orange;
}

/* fruits가 가진 모든 하위요소의 두번째 형제 요소 선택 
.fruits *:nth-child(2){
  color: red;
}
*/

/* nth child의 짝수번째의 후손 요소 
.fruits *:nth-child(2n){
  color: red;
}
*/
/* 홀수번째 후손 요소 
.fruits *:nth-child(2n+1){
  color: red;
}  */
.fruits *:nth-child(n+2){
  color: red;
}